# ignore emacs temporary files
*~

# ignore byte compiled files
__pycache__/

# ignore json file used for old storage of data
file.json

# ignore ALX test files
test_params_create

# ignore W3C validator
W3C-Validator/
w3c_validator.py
